<?xml version="1.0" encoding="UTF-8"?>
<configuration
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="logback.xsd">

  <!-- ================================================================ -->
  <property
    name="CONSOLE_LOG_PATTERN"
    value="%d{yyyy-MM-dd HH:mm:ss.SSS} %5p ${PID:- } --- [%15.15t] %-40.40logger{39} : %m%n" />

  <!-- ================================================================ -->
  <appender
    name="CONSOLE"
    class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>${CONSOLE_LOG_PATTERN}</pattern>
    </encoder>
  </appender>

  <!-- ================================================================ -->
  <logger
    name="org.jimsey.projects.turbine"
    level="DEBUG" />

  <!-- ================================================================ -->
  <root level="INFO">
    <appender-ref ref="CONSOLE" />
  </root>

</configuration>