<?xml version="1.0" encoding="UTF-8"?>

<!-- http://gordondickens.com/wordpress/2012/07/03/enterprise-spring-best-practices-part-1-project-config/#logging -->

<configuration>
	<statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />

	<filter class="ch.qos.logback.access.filter.CountingFilter">
		<name>countingFilter</name>
	</filter>

	<appender name="accessfile"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${user.dir}/logs/app-access.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${user.dir}/logs/app-access.%d{yyyy-MM-dd}.log.zip
			</fileNamePattern>
		</rollingPolicy>

		<encoder>
			<pattern>combined</pattern>
		</encoder>
	</appender>

	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%n%fullRequest%n%fullResponse%n</pattern>
		</encoder>
	</appender>

	<appender name="reqrespfile"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${user.dir}/logs/app-req-resp.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${user.dir}/logs/app-req-resp.%d{yyyy-MM-dd}.log.zip
			</fileNamePattern>
		</rollingPolicy>

		<encoder>
			<pattern>%n%fullRequest%n%fullResponse%n</pattern>
		</encoder>
	</appender>

	<appender-ref ref="accessfile" />
	<appender-ref ref="reqrespfile" />
	<appender-ref ref="console" />
</configuration>