 %% ----------------------------------------------------------------------------
 %% RabbitMQ Config File For the-turbine
 %%
 %% https://www.rabbitmq.com/web-stomp.html
 %% https://github.com/rabbitmq/rabbitmq-server/blob/stable/docs/rabbitmq.config.example
 %%
 %% ----------------------------------------------------------------------------

[
  {rabbitmq_web_stomp,
      [{ssl_config, [{port,       15671},
                     {backlog,    1024},
                     {certfile,   "certificate.crt"},
                     {keyfile,    "certificate.key"},
                     {password,   "changeit"}]}]}
].